<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}Bienvenue{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    
        {# <img src="https://img.freepik.com/photos-gratuite/cartes-casino-fond-jaune_23-2148952386.jpg?w=996&t=st=1694743526~exp=1694744126~hmac=8dd9cc3b776186facd662483a3b741a99e6ab21cb7b262443ca152143ec604e3" alt=""> #}

        {% block body %}{% endblock %}
    </body>
</html>
